# SwitchBot API設定
SWITCHBOT_TOKEN=your_token_here
SWITCHBOT_SECRET=your_secret_here
SWITCHBOT_DEVICE_ID=your_device_id_here

# Mackerel API設定
MACKEREL_API_KEY=your_api_key_here
MACKEREL_SERVICE_NAME=SwitchBotSensor
